# ====================================
# SHOPIFY APP CREDENTIALS
# (Shopify Partners Dashboard se milenge)
# ====================================
SHOPIFY_API_KEY=f86ad85cc065ec85d57d01e82004c025
SHOPIFY_API_SECRET=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
SHOPIFY_APP_URL=https://describoai-production.up.railway.app
SCOPES=write_products,read_products

# ====================================
# OPENAI API KEY
# (platform.openai.com se milega)
# ====================================
GEMINI_API_KEY=AIzaSyDAYz6Ew4uEqijocuOzQGTr7T9IInB_BKw

# ====================================
# SERVER CONFIG
# ====================================
PORT=3000
NODE_ENV=development
